[Desktop Entry]
Comment[tr_TR]=
Comment=
Exec=
GenericName[tr_TR]=Firefox Developer Edition
GenericName=Firefox Developer Edition
Icon=
MimeType=
Name[tr_TR]=Basit Muhasebe
Name=Basit Muhasebe
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
GenericName[tr_TR.UTF-8]=
